<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<connectionStrings>
    <add name="con" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\work\Dropbox\Case\法兴\EIM\EIMExtend\EIM.mdb;Jet OLEDB:Database Password=818283mwx;"
        providerName="Microsoft.Jet.OLEDB.4.0" />
</connectionStrings>
</configuration>